<div class="container">
	<div id="content">

		<h1 style="font-family: courier">the mission.</h1>
		<hr />

		<p>red bungalo? red bungalo.</p>
		
		<p>What is the red bungalo? Our red bungalo is a small cozy home where everyone is invited. It is a place where volunteering and helping out is a part of the DNA that makes us who we are.</p>
		
		<p>In 2011, a group of friends who had just graduated from college wanted to contribute to the world. With a diverse set of skills and a heart for the same cause, <span style="color:#f00">red bungalo</span> was born. The vision shaped and molded as we matured and developed our ideas. Our final result?</p>
		
		<p>To make volunteering a tangible idea wherever you so that everyone could have the opportunity to change the world one local community at a time.</p>
		
		<p>In every major city there are thousands of non-profits and organizations devoted to benefiting the community, but at many times, they go unseen because of their limited resources. It is our mission to give you the ability to see the beautiful organizations around you and to join them on their missions to create an inclusive, friendly, helping community.</p>
		
		<p>Being youngsters ourselves, we know the importance of simplicity and straightforwardness in a website. So, we have devised the simplest way to explore the organizations in your neighborhood without breaking a sweat. Check it out! It’ll take two seconds. It’s just a click, click, volunteer away.</p>
		
		<br />
		<div style="float:right; margin-right:20%;">-the team who believes</div>
		
		<br />
		<br />
		<br />
		<div class="mission-partners">
			<center>
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			<img src="http://placehold.it/100x100" />&nbsp;
			</center>
		</div>
		
		<br /><br />
	</div>
</div>