<div class="container">
	<div id="content">
    	<h2>Kevin's Profile</h2>
        
        <div class="column-left">
        	<img src="http://placehold.it/150x150">
            
            <ul class="profile-facts">
            	<li class="my-name">Kevin Chang</li>
                <li class="my-tag">Bad Astronaut</li>
                
                <br />
                <strong>Unique Facts</strong>
                <li>Boston University</li>
                <li>kevin@email.com</li>
                
                <hr />
                <strong>My Communities</strong>
                <li>Boston, New York City</li>
                
                <hr />
                <strong>My Organizations</strong>
                <li>One, Two</li>
                
            </ul>
        </div>
        

        
        <div class="push"></div>
        
    </div>
</div>