<footer>
	<div class="container">
        <ul>
            <li><a href="about.html">About Our Mission</a></li>
            <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <div class="copyright">&copy; 2012 The College Project</div>
    </div>
</footer>